%h1 Task details
%div
  - if @task.status != 'Contracted'
    = link_to "Edit task", edit_task_path(@task)
    = link_to "Delete task", task_path(@task), method: :delete
  %ul
    %li= image_tag @task.task_image.url(:medium)
    %li Task Name: #{@task.name}
    %li Status: #{@task.status}
    %li Description: #{@task.description}
    %li Location: #{@task.location}
    %li Time Frame: #{@task.time_frame}
    %li Minimun budget: #{@task.minimum_budget}
    %li Maximum budget: #{@task.maximum_budget}
    %li Category: #{@task_cat.name}
    - if @task.status == 'Contracted'
      %li Winning Bid Amount: #{@winning_bid.quote}
      %li Contracted On: #{@winning_bid.winning_bid_date}
      %li Winning Contractor: #{@winning_contractor.email} - #{@winning_contractor.first_name} #{@winning_contractor.last_name}

%h2 Bids:
%ul
- @task.bids.each do |bid|
  %li
    = "#{bid.user.first_name} #{bid.user.last_name}'s Bid: #{bid.quote} "
    - if (current_user.id == @task.user_id) && @task.status == 'Bidding'
      = link_to "Accept Bid", task_bid_path(params[:id], bid)
  %br
